.ant-carousel .slick-dots li button {
  border-radius: 50% !important;
  height: 12px !important;
  width: 12px !important;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: red !important;
}
.ant-carousel .slick-dots {
  bottom: 55px !important;
  margin-left: 0 !important;
}
.slick-dots li.slick-active button:before {
  color: none !important;
}
.slick-dots li button:before {
  color: white !important;
  font-size: 0px !important;
}
